[Desktop Entry]
Type=Application
Version=0.3
Name=TnT
GenericName=Tiny 'Nux Tarot
Comment=Tiny french tarot game
Exec=tnt
Icon=application-default-icon
Terminal=false
Categories=Game
StartupNotify=true
